.StoryText {
    text-align: center;
    font-size: x-large;
    border: thick dashed black;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
}

.SelectBtn {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.row1 {
    display: flex;
    justify-content: center;
}

.Header {
    display: flex;
    justify-content: center;
}

